@model IEnumerable<ProdajaMeda.Models.ViewModels.Prodavnica.KategorijaVM>

@{
    ViewBag.Title = "Kategorije";
}

<h2>Kategorije</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Dodaj novu kategoriju</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </p>
</div>


@if (!Model.Any())
{
    <h1 class="text-center"> Ne postoje kategorije.</h1>
}
else
{
    <table class="table sorting kategorije" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </td>
                <td>
                    @Html.ActionLink("Delete", "ObrisiKategoriju", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {



            //Dodavanje nove kategorije

            var newCatA = $("a#newcata");
            var newCatTextInput = $("#newcatname");
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");

            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            });

            newCatA.click(function (e) {
                e.preventDefault();

                var catName = newCatTextInput.val();

                if (catName.length < 2) {
                    alert("Naziv kategorije mora da sadrzi vise od 2 karaktera.");
                    return false;
                }

                ajaxText.show();

                var url = "/Administrator/Prodavnica/DodajNovuKategoriju";

                $.post(url, { catName: catName }, function (data) {

                    var response = data.trim();

                    if (response == "titletaken") {
                        ajaxText.html("<span class='alert aletr-danger'>Naslov vec postoji </span>");
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                            });
                        }, 2000);
                        return false;
                    } else {
                        if (!$("table#pages").length) {
                            location.reload();
                        } else {

                            ajaxText.html("<span class='alert aletr-danger'>Kategorija je dodata </span>");
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src=/Content/img/ajax-loader.gif />");

                                });
                            }, 2000);

                            newCatTextInput.val("");

                            var toAppend = $("table#pages tbody tr:last").clone();
                            toAppend.attr("id", "id_" + data);
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "/Administrator/Prodavnica/ObrisiKategoriju/" + data);
                            tabel.append(toAppend);
                            table.sortable("refresh");


                        }
                    }

                });

            });



            //Potvrda za brisanje date kategorije

            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Administrator/Prodavnica/ReorderKategorije";

                    $.post(url, ids, function (data) {

                    });
                }
            });



            //Brisanje kategorije 

            $("body").on("click", "a.delete", function myfunction() {
                if (!confirm("Potvrdite brisanje stranice")) return false;
            });



            //Promena imena date kategorije

            var originalTextBoxValue;

            $("table#pages input.text-box").dblclick(function () {
                originalTextBoxValue = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });

            $("table#pages input.text-box").blur(function () {
                var $this = $(this);
                var ajaxdiv = $this.parent().find(".ajaxdivtd");
                var newCatName = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "/Administrator/Prodavnica/RenameKategoriju";


                if (newCatName.length < 2) {
                    alert("Naziv kategorije mora da sadrzi vise od 2 karaktera.");
                    $(this).attr("readonly",true);
                    return false;
                }
                $.post(url, { newCatName: newCatName, id: id }, function (data) {
                    var response = data.trim();

                    if (response == "titletaken") {
                        $this.val(originalTextBoxValue);
                        ajaxdiv.html("<span class='alert aletr-danger'>Naslov vec postoji </span>"),show();
                    } else {
                        ajaxdiv.html("<span class='alert aletr-success'>Ime kategorije je promenjeno </span>").show();
                    }

                    setTimeout(function () {
                        ajaxdiv.fadeOut("fast", function () {
                            ajaxdiv.html("");
                        });
                    }, 2000);
                }).done(function () {
                    $this.attr("readonly", true);
                });
            });

     });
    </script>

}
