@model IEnumerable<ProdajaMeda.Models.ViewModels.Account.OrdersForUserVM>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@if (!Model.Any())
{
    <h3 class="text-center">You have no orders.</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                Order Number
            </th>
            <th>Order Details</th>
            <th>
                Created At
            </th>

            <th>
                Total
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @foreach (var item2 in item.ProductsAndQty)
                    {
                        @item2.Key @:x @item2.Value <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }

    </table>
}
